        

<div class="docs-api">
  <h2>API reference for @standalone/api</h2>
  <p>Import symbols from <code>@standalone/api</code></p><h3 id="standalone-api-directives" class="docs-header-link docs-api-h3">
    <span header-link="directives"></span>
    Directives
  </h3>
   

<h4
  id="StandaloneApiComponent"
  class="docs-header-link docs-api-h4 docs-api-class-name"
>
  <span header-link="StandaloneApiComponent"></span>
  <code>StandaloneApiComponent</code>
  
</h4><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Standalone:</span>
  <span class="docs-api-class-selector-name">true</span>
</p>   
   

<h4
  id="StandaloneApiDirective"
  class="docs-header-link docs-api-h4 docs-api-class-name"
>
  <span header-link="StandaloneApiDirective"></span>
  <code>StandaloneApiDirective</code>
  
</h4><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Selector:</span>
  
  <span class="docs-api-class-selector-name">[ngxDocGenStandaloneApi]</span>
  
</p><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Standalone:</span>
  <span class="docs-api-class-selector-name">true</span>
</p>   
  <h3 id="standalone-api-pipes" class="docs-header-link docs-api-h3">
    <span header-link="pipes"></span>
    Pipes
  </h3>
   

<h4
  id="StandaloneApiPipe"
  class="docs-header-link docs-api-h4 docs-api-class-name"
>
  <span header-link="StandaloneApiPipe"></span>
  <code>StandaloneApiPipe</code>
  
</h4><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Name:</span>
  <span class="docs-api-class-selector-name">standaloneApi</span>
</p><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Standalone:</span>
  <span class="docs-api-class-selector-name">true</span>
</p>  <h5 class="docs-api-h5 docs-api-method-header">Methods</h5>
  
    

<table class="docs-api-method-table">
  <thead>
    <tr class="docs-api-method-name-row">
      <th colspan="2" class="docs-api-method-name-cell">transform
      </th>
    </tr>
  </thead><thead>
    <tr class="docs-api-method-parameters-header-row">
      <th colspan="2" class="docs-api-method-parameters-header-cell">Parameters</th>
    </tr>
  </thead>
  
  <tr class="docs-api-method-parameter-row">
    <td class="docs-api-method-parameter-cell">
      <p class="docs-api-method-parameter-name">
        value</p>
      <code class="docs-api-method-parameter-type">unknown</code>
    </td>
    <td class="docs-api-method-parameter-description-cell">
      <div class="docs-api-method-parameter-description">
        
      </div>
    </td>
  </tr>
  
  <tr class="docs-api-method-parameter-row">
    <td class="docs-api-method-parameter-cell">
      <p class="docs-api-method-parameter-name">
        ...args</p>
      <code class="docs-api-method-parameter-type">unknown[]</code>
    </td>
    <td class="docs-api-method-parameter-description-cell">
      <div class="docs-api-method-parameter-description">
        
      </div>
    </td>
  </tr>
  <thead>
    <tr class="docs-api-method-returns-header-row">
      <th colspan="2" class="docs-api-method-returns-header-cell">Returns</th>
    </tr>
  </thead>
  <tr>
    <td class="docs-api-method-returns-type-cell">
      <code class="docs-api-method-returns-type">unknown</code>
    </td>
    <td class="docs-api-method-returns-description-cell">
      <p class="docs-api-method-returns-description">
        
      </p>
    </td>
  </tr></table> 
   
  </div>
