<mat-accordion multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        @multi/test/one
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ngx-doc-gen-multi-one></ngx-doc-gen-multi-one>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        @multi/test/two
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ngx-doc-gen-multi-two></ngx-doc-gen-multi-two>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        @multi/test/three
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ngx-doc-gen-multi-three></ngx-doc-gen-multi-three>
  </mat-expansion-panel>

</mat-accordion>
