
















<div class="docs-api">
  <h2>
    API reference for @single/test
  </h2><p class="docs-api-module-import">
    <code>
        import &#123; SingleEntrypointModule &#125; from '@single/test';
      </code>
  </p>
  <h3 id="single-test-directives" class="docs-header-link docs-api-h3">
    <span header-link="directives"></span>
    Directives
  </h3>
  
  

<h4 id="TestComponent" class="docs-header-link docs-api-h4 docs-api-class-name">
  <span header-link="TestComponent"></span>
  <code>TestComponent</code>
  
</h4><div class="docs-api-class-description"><p>Example component for showcasing API doc generation.</p>
</div><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Selector:</span>
  
  <span class="docs-api-class-selector-name">ngx-doc-gen-test</span>
  
</p>





  </div>
