
















<div class="docs-api">
  <h2>
    API reference for @multi/test/one
  </h2><p class="docs-api-module-import">
    <code>
        import &#123; OneModule &#125; from '@multi/test/one';
      </code>
  </p>
  <h3 id="multi-test-one-directives" class="docs-header-link docs-api-h3">
    <span header-link="directives"></span>
    Directives
  </h3>
  
  

<h4 id="NgDemoDirective" class="docs-header-link docs-api-h4 docs-api-class-name">
  <span header-link="NgDemoDirective"></span>
  <code>NgDemoDirective</code>
  
</h4><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Selector:</span>
  
  <span class="docs-api-class-selector-name">[ngxDocGenNgDemo]</span>
  
</p>





  </div>
