        

<div class="docs-api">
  <h2>API reference for &#64;multi/test/three</h2><p class="docs-api-module-import">
    <code>
      import &#123; ThreeModule &#125; from '&#64;multi/test/three';
    </code>
  </p>
  <h3 id="multi-test-three-directives" class="docs-header-link docs-api-h3">
    <span header-link="directives"></span>
    Directives
  </h3>
   

<h4
  id="DemoScamDirDirective"
  class="docs-header-link docs-api-h4 docs-api-class-name"
>
  <span header-link="DemoScamDirDirective"></span>
  <code>DemoScamDirDirective</code>
  
</h4><p class="docs-api-directive-selectors">
  <span class="docs-api-class-selector-label">Selector:</span>
  
  <span class="docs-api-class-selector-name">[ngxDocGenDemoScamDir]</span>
  
</p>   
  </div>
